[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "6.25.2"

[dev-packages]
black = "23.7.0"
pre-commit = "3.4.0"

[requires]
python_version = "3.11.5"
